@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Open sans", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(135deg, #4CC9F0, #CAFFBF, rgb(255, 246, 152))
}

/* App theme colours */

.bg__app_green {
    background: #CAFFBF;
}
.col__app_green {
    color: #CAFFBF;
}
.bg__app_blue {
    background: #4CC9F0;
}
.col__app_blue {
    color: #4CC9F0;
}

/* App theme colours END */


.nav__height {
    min-height: 9vh;
}
.compacted__nav{
    min-height: 7vh;
}

.cta__pulse_active {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #CAFFBF;
}

.sticky__nav {
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    background: rgb(229, 229, 229, 0.7);
    z-index: 999;
}
.sticky__div {
    position: sticky;
    top: 0;
}

.app__width {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

/* Gradients  */

.gradient__bg {
    background-image: linear-gradient(90deg, #002551, #f0eeee, #f0eeee ,#DC2626);
    transition: all 300ms ease-in-out;
}
.gradient__bg:hover {
    scale: 1.01;
}
.landing__gradient {
    background-image: linear-gradient(135deg, #4CC9F0, #CAFFBF, #FFF698)
}

/* Gradients END */

/* Testimonial section images */

#testimonial__img_1 {
    width: 100%;
    height: auto;
}

/* Testimonial section images end */

/* .fixed__nav {
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 9999;
} */

/* Height setters */

.section__height {
    min-height: 80vh;
}
.header__height {
    min-height: 80vh;
}
.explore__prompt_height {
    min-height: 10vh;
}

/* Height setters END */

.svg__top_stripes {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: -30px;
}
.hover__svg {
    fill: #DC2626;
    transition: all 300ms ease-in-out;
}
.hover__svg:hover {
    fill: #002551;
}
.scale__svg {
    transition: all 300ms ease-in-out;
}
.scale__svg:hover {
    scale: 1.025;
}

.large__text {
    font-size: 150px;
}

.pricing__border_box {
    border: 1px solid #000;
    min-height: 40vh;
    min-width: 400px;
}
.border__box {
    border: 1px solid #000;
}

/* About */

.about__info_container {
    border-radius: 50px;
    min-height: 30vh;
    width: 200px;
}
.about__divider_line {
    height: 1px;
    width: 100%;
}

/* About END */

.mobile__display_only {
    display: none;
}

.footer__divider_line {
    height: 2px;
    background-image: linear-gradient(90deg, #002551, #e5e5e5, #e5e5e5 ,#DC2626);
    width: 100%;
}
.footer__img_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "tower cafe"
    "flag cafe"
    ;
}
#footer__img_1 {
    grid-area: tower;
    border-radius: 50%;
}
#footer__img_2 {
    grid-area: cafe;
    border-radius: 50%;
}
#footer__img_3 {
    grid-area: flag;
    border-radius: 60%;
    width: 150px;
    height: 150px;
    margin-left: 40%;
}
.footer__img_settings{
    width: 100%;
    height: auto;
}

.image__settings {
    width: 450px;
    height: 450px;
    z-index: 1;
}

@media screen and (max-width: 1320px) {
    .svg__top_stripes {
        opacity: 0;
    }
    .nav__height {
        min-height: 7vh;
    }
    .image__settings {
        width: 250px;
        height: 250px;
    }
    .tablet__view_none {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .small__section_height {
        min-height: 40vh;
    }
    .app__width {
        width: 92.5%;
    }
    .pricing__border_box {
        border: 1px solid #000;
        min-height: 30vh;
        min-width: 300px;
    }
    .header__height {
        min-height: 90vh;
    }
    .svg__top_stripes {
        opacity: 1;
        margin-top: -50px;
    }
}

@media screen and (max-width: 740px) {
    .svg__top_stripes {
        opacity: 1;
        margin-top: -19px;
    }
    .mobile__display_only {
        display: block;
    }
    .nav__height{
        min-height: 7vh;
    }
    .desktop__view_only {
        display: none;
    }
    .header__height {
        min-height: 0vh;
    } 
    .image__settings {
        width: 250px;
        height: 250px;
    }
    .gradient__bg {
        background-image: linear-gradient(0deg, #002551 ,#e5e5e5, #e5e5e5,#DC2626);
    }
    .small__section_height {
        min-height: 60vh;
    }
    .app__width {
        width: 95%;
    }
    .large__text {
        font-size: 120px;
    }
    .header__height {
        min-height: 110vh;
    }
}

@media screen and (max-width: 376px) {
    .svg__top_stripes {
        opacity: 1;
        margin-top: -32px;
    }
    .image__settings {
        width: 180px;
        height: 180px;
    }
    .extra__small_none {
        display: none;
    }
}