@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #edf2f4;
}

/* @media (prefers-color-scheme: dark) {
    body {
      background: #171717;
    }
  } */

/* App theme colours */
.bg__ff_blue {
    background: #0050a4; 
}
.bg__ff_red {
    background: #ef4135;
}
.col__app_green {
    color: #ef4135;
}
.bg__app_blue {
    background: #4CC9F0;
}
.col__app_blue {
    color: #4CC9F0;
}

/* App theme colours END */


.nav__height {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.compacted__nav{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.cta__pulse_active {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #CAFFBF;
}

.sticky__nav {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    /* background: rgb(229, 229, 229, 0.7); */
    z-index: 999;
}

.app__width {
    padding-left: 7.5%;
    padding-right: 7.5%;
}

/* Gradients  */

.landing__gradient {
    background-image: linear-gradient(135deg, #0050a4 , #fff, #ef4135 )
}
.landing__gradient_reducedOpacity {
    background: whitesmoke;
    /* border: 1px solid #3a3a3a; */
}

/* Gradients END */

/* Testimonial section images */

#testimonial__img_1 {
    width: 100%;
    height: auto;
}

/* Testimonial section images end */

/* .fixed__nav {
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 9999;
} */

/* Height setters */

.section__height {
    min-height: 80vh;
}
.header__height {
    min-height: 70vh;
}
#header__bg_img {
    /* z-index: -10; */
    overflow-x: hidden;
    position: absolute;
    top: 50;
    left: 50;
    width: 900px;
    height: 400px;
    filter: blur(180px);
    background-image: linear-gradient(135deg, #0050a4 , #ffffff , #ef4135 )
}
.explore__prompt_height {
    min-height: 10vh;
}

/* Height setters END */

.large__text {
    font-size: 150px;
}

.pricing__border_box {
    border: 1px solid #000;
    min-height: 40vh;
    min-width: 400px;
}
.border__box {
    border: 1px solid #000;
}

/* About */

.about__info_container {
    border-radius: 50px;
    min-height: 30vh;
    width: 200px;
}
.about__divider_line {
    height: 1px;
    width: 100%;
}

/* About END */

.mobile__display_only {
    display: none;
}

.footer__img_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "tower cafe"
    "flag cafe"
    ;
}
#footer__img_1 {
    grid-area: tower;
    border-radius: 50%;
    transform: rotate(0deg);
}
#footer__img_2 {
    grid-area: cafe;
    border-radius: 50%;
    transform: rotate(0deg);
}
#footer__img_3 {
    grid-area: flag;
    border-radius: 60%;
    width: 150px;
    height: 150px;
    transform: rotate(0deg);
}
.footer__img_settings{
    width: 100%;
    height: auto;
}

.image__settings {
    width: 350px;
    height: 250px;
    z-index: 1;
}

@media screen and (min-width: 1536px) {
    .image__settings {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 1320px) {
    .nav__height {
        min-height: 8vh;
    }
    .image__settings {
        width: auto;
        height: auto;
    }
    .tablet__view_none {
        display: none;
    }
    .large__text {
        font-size: 110px;
    }
}

@media screen and (max-width: 1024px) {
    .image__settings {
        width: auto;
        height: auto;
    }
    .small__section_height {
        min-height: 40vh;
    }
    .app__width {
        padding-left: 3.75%;
        padding-right: 3.75%;
    }
    .pricing__border_box {
        border: 1px solid #000;
        min-height: 30vh;
        min-width: 300px;
    }
    .header__height {
        min-height: 90vh;
    }
    .svg__top_stripes {
        opacity: 1;
        margin-top: -50px;
    }
    #header__bg_img {
        width: 200px;
        height: 600px;
        filter: blur(150px);
    }
}

@media screen and (max-width: 740px) {
    .footer__img_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "tower cafe"
        "flag cafe"
        ;
    }
    #footer__img_1 {
        grid-area: tower;
        border-radius: 50%;
        transform: rotate(0deg);
    }
    #footer__img_2 {
        grid-area: cafe;
        border-radius: 50%;
        transform: rotate(0deg);
    }
    #footer__img_3 {
        grid-area: flag;
        border-radius: 60%;
        width: 150px;
        height: 150px;
        transform: rotate(0deg);
    }
    #header__bg_img {
        width: 200px;
        height: 600px;
        filter: blur(150px);
        top: 0;
        left: 0;
    }
    .mobile__display_only {
        display: block;
    }
    .nav__height{
        min-height: 7vh;
    }
    .desktop__view_only {
        display: none;
    }
    .header__height {
        min-height: 0vh;
    } 
    .image__settings {
        width: 350px;
        height: 320px;
    }
    .small__section_height {
        min-height: 60vh;
    }
    .app__width {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    .large__text {
        font-size: 120px;
    }
    .header__height {
        min-height: 110vh;
    }
}

@media screen and (max-width: 376px) {
    .image__settings {
        width: 250px;
        height: 220px;
    }
    .extra__small_none {
        display: none;
    }
    #header__bg_img {
        width: 50px;
        height: 400px;
        filter: blur(150px);
    }
}